:root {
	/** Colors **/

	/* Body */
	--bodyBackgroundColor: #0c0b0c;

	/* Main */
	--mainPrimaryColor: #fdf9ff;
	--mainSecondaryColor: #6c6a6d;
	--mainTertiaryColor: #d4cdd3;
	--mainQuaternaryColor: #f2f2f2;

	--mainPrimaryColor70: rgb(253, 249, 255, 0.7);
	--mainPrimaryColor50: rgb(253, 249, 255, 0.5);

	--mainAccentColor: #9663ea;
	--mainAccentHoverColor: #7521ff;
	--mainAccentHoverColor50: rgb(117, 33, 255, 0.5);
	--mainAccentHoverColor20: rgb(117, 33, 255, 0.2);

	--mainBoxShadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.2);

	/* Primary button */
	--primaryButtonBackgroundColor: #9663ea;
	--primaryButtonBackgroundColorHover: #7521ff;
	--primaryButtonBackgroundColorActive: #9663ea;

	--primaryButtonBoxShadow: 0 10px 21px rgba(150, 99, 234, 0.4);
	--primaryButtonBoxShadowHover: 0 10px 21px rgba(117, 33, 255, 0.4);

	--primaryButtonTextColor: #fdf9ff;

	/* Secondary button */
	--secondaryButtonBackgroundColor: #fffff0;
	--secondaryButtonBackgroundColorHover: #700055;
	--secondaryButtonBackgroundColorActive: #fffff0;

	--secondaryButtonTextColor: #fffff0;

	/* Tertiary button */
	--tertiaryButtonBorderColor: #9663ea;
	--tertiaryButtonBorderColorHover: #7521ff;
	--tertiaryButtonBorderColorActive: #9663ea;

	/* Links */
	--linkColor: #fdf9ff;
	--linkColorHover: #7521ff;
	--linkColorActive: #9663ea;

	--linkColor70: rgb(253, 249, 255, 0.7);

	/* Error */
	--errorColor: #e72121;

	/* Success */
	--successColor: #2b9414;

	/** Fonts **/
	--mainFontFamily: 'Roboto Condensed', sans-serif;

	/* Main */
	--mainFontSize: 18px;
	--mainFontSizeBig: 22px;
	--mainFontSizeSmall: 14px;

	--mainBorderRadius: 0px;

	--mainFontWeight: 400;
	--mainLineHeight: 180%;
	--mainFontWeightBig: 700;

	/* Menu */
	--menuFontFamily: 'Unbounded', sans-serif;
	--menuFontSize: 15px;
	--menuFontWeight: 700;

	/* Buttons */
	--buttonFontFamily: 'Unbounded', sans-serif;
	--buttonFontSize: 15px;
	--buttonFontWeight: 700;

	/* Headings */
	--headingsFontFamily: 'Unbounded', sans-serif;

	/* H0 */
	--headingH0fontSize: 64px;
	--headingH0fontSizeMobile: 32px;
	--headingH0FontWeight: 900;
	--headingH0LineHeight: 100%;

	/* H1 */
	--headingH1fontSize: 32px;
	--headingH1fontSizeMobile: 20px;
	--headingH1FontWeight: 900;
	--headingH1LineHeight: 120%;

	/* H2 */
	--headingH2fontSize: 20px;
	--headingH2fontSizeMobile: 15px;
	--headingH2FontWeight: 900;
	--headingH2LineHeight: 100%;

	/* H3 */
	--headingH3fontSize: 13px;
	--headingH3fontSizeMobile: 13px;
	--headingH3FontWeight: 700;
	--headingH3LineHeight: 130%;

	/* H4 */
	--headingH4fontSize: 13px;
	--headingH4fontSizeMobile: 13px;
	--headingH4FontWeight: 700;
	--headingH4LineHeight: 130%;

	/* Inputs */
	--placeholderColor: rgb(253, 249, 255, 0.4);
	--searchBarPlaceholderColor: #6c6b6d; /* Icon fill: #403F41 */
	--inputBorderColor: #342e36;

	/* Thumbnail Decorations */
	--thumbnailDecorationBackground: #0c0b0c50;
	--thumbnailDecorationPadding: 1px 8px;
	--thumbnailDecorationBorderRadius: 0;
	--thumbnailDecorationBackdrop: blur(3px);
	--thumbnailDecorationColor: #fdf9ff;

	/* Pagination */
	--paginationHoverBackground: #1f1e1f;

	/* Taxonomy */
	--categoryTagBackgroundColor: #281d39;

	/* Other */
	--supportButtonColor: #343339;
}
